@*@model AlianzaPetrolera.Models.AlianzaBD.Persona*@
@model LoginViewModel

@using AlianzaPetrolera.Models;

@using AlianzaPetrolera.Controllers.Enum
@{
    ViewBag.Title = "";
}

<div class="imagenPrincipal">
    
    <div class="tituloBienvenida">
        <div class="titulosPrincipales">
            <h1>
                ¡Haz Parte de Nuestra Escuela!
            </h1>
            <h3 class="centrarSub">
                Te Estamos Esperando
            </h3>
        </div>
    </div>
    <img src="~/Content/images/background.jpg" class="img-fluid" id="fondo" alt="Responsive image">
</div>
<div class="imagenesEmpresariales">
    <div class="imagenBanner">
        <img src="~/Content/images/aasssd (2).png" alt="Alternate Text" style="width:90%" />
    </div>
    <div class="imagenBanner">
        <img src="~/Content/images/logo.png" alt="Alternate Text" />
    </div>
</div>
<div class="contenedorPrincipal">
    <div class="primerContenedor">
        @*<div class="centrarSub">
            <h2 class="tituloregindex">
                REGISTRO
            </h2>
        </div>*@
        <br />
        <div class="text-reg-index">
            <p>Haz clic en el botón aquí abajo, e inscribe a tu hijo(a) y comienza a ser parte de nuestra institución.</p>
        </div>
        <br />
        <br />
        <div class="registrocontenedor">
            <center><a class="imagenregistro" title="Registro" href="~/Account/Register"><img src="~/Content/images/RegistroIndex.png" id="icon" alt="Registro" /></a></center>
        </div>
    </div>
    
    <div class="segundoContenedor">
            <!-- Tabs Titles -->
            <!-- Icon -->
            <div class="imagenFormulario">
                <center><img src="~/Content/images/Loguser.png" id="icon" alt="User Icon" /></center>
            </div>
            <br />
            <br />
            <!-- Login Form -->
            <div class="formularioIngreso align-content-center">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <form >
                        <center>@Html.TextBoxFor(m => m.UserName, new { @placeholder = "Usuario" })</center>
                        <center>@Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña", @id = "password" })</center>
                        <center>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger fadeIn third", @id = "password" })</center>
                        <div><center><input type="submit" value="Iniciar sesión" /></center></div>
                        <div class="formFooter text-center">
                                <a class="underlineHover">@Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword", "Account", htmlAttributes: new { @Style = "color:#ffffff" })</a>
                        </div>
                    </form>
                    
                    <!-- Remind Passowrd -->

                }
            </div>
    </div>
</div>
