@model AlianzaPetrolera.Models.RegisterViewModel
@{
    ViewBag.Title = "Registro Padre Familia";
}


<div class="titulosPrincipal">
    <h1>@ViewBag.Title</h1>
</div>
    

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />

    <h4>Datos Usuario</h4>
    <div class="plegable">
        <div class="formularioRegistro">
            <br />
            @Html.ValidationSummary("")
            <br />
            @Html.LabelFor(m => m.UserName)
            <br />
            @Html.TextBoxFor(m => m.UserName)

            <br />
            @Html.LabelFor(m => m.Email)
            <br />
            @Html.TextBoxFor(m => m.Email)
            <br />
            @Html.LabelFor(m => m.Password)
            <br />
            @Html.PasswordFor(m => m.Password)
            <br />
            @Html.LabelFor(m => m.ConfirmPassword)
            <br />
            @Html.PasswordFor(m => m.ConfirmPassword)
        </div>
    </div>
    <hr />
    <h4>Datos Personales</h4>
    <div class="plegable">
        <div class="formularioRegistro">
            @Html.LabelFor(m => m.Pers_Nom)
            <br />
            @Html.TextBoxFor(m => m.Pers_Nom)
            <br />
            @Html.LabelFor(m => m.Pers_Lstn1)
            <br />
            @Html.TextBoxFor(m => m.Pers_Lstn1)
            <br />
            @Html.LabelFor(m => m.Pers_Lstn2)
            <br />
            @Html.TextBoxFor(m => m.Pers_Lstn2)
            <br />
            @Html.LabelFor(m => m.Pers_TypeDoc)
            <br />
            @Html.EnumDropDownListFor(m => m.Pers_TypeDoc, new { @class = "form-control" })
            <br />
            @Html.LabelFor(m => m.Pers_Doc)
            <br />
            @Html.TextBoxFor(m => m.Pers_Doc)
            <br />
            @Html.LabelFor(m => m.RolP_Id)
            <br />
            @Html.EnumDropDownListFor(m => m.RolP_Id, new { @class = "form-control" })


            <br />
            <hr />

            @Html.LabelFor(m => m.Pers_Birth)
            <br />
            @Html.EditorFor(m => m.Pers_Birth, new { htmlAttributes = new { @class = "form-control datepicker" } })
            <br />
            @Html.ValidationMessageFor(m => m.Pers_Birth, "")
            <br />
            @Html.LabelFor(m => m.Pers_Dir)
            <br />
            @Html.TextBoxFor(m => m.Pers_Dir)
            <br />
            @Html.LabelFor(m => m.Pers_Cel)
            <br />
            @Html.TextBoxFor(m => m.Pers_Cel)
            <br />
            @Html.LabelFor(m => m.Pers_Tel)
            <br />
            @Html.TextBoxFor(m => m.Pers_Tel)
        </div>
        </div>

        <br />
        <input type="submit" class="btn btn-warning" value="Registrarse" />

        }

        @Html.ActionLink("Volver", "Index")

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

        }
