@model AlianzaPetrolera.Models.Admin.Inscripcion

@{
    ViewBag.Title = "Información Inscripción ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="fondo-reg-hijo col-sm-5">
        <div class="contenedorlogos">
            <div class="imagenBanner">
                <img src="~/Content/images/aasssd (2).png" alt="Alternate Text" style="width:90%" />
            </div>
            <div class="imagenBanner">
                <img src="~/Content/images/logo.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="titulo-detalles">
            <h4>Información Inscripción </h4>
        </div>
        <hr />
        <br />
        <div class="col-sm-10 centrar-contenido" style="left:10%">
            <table class="tabla-detal-inscp">
                <tr><th><b>@Html.DisplayNameFor(model => model.Pers_Id)     </b></th><td>  @Html.DisplayFor(model => model.Pers_Id)     </td></tr>
                <tr><th><b>@Html.DisplayNameFor(model => model.Insc_NomEst)  </b></th><td>  @Html.DisplayFor(model => model.Insc_NomEst)  </td></tr>
                <tr><th><b>@Html.DisplayNameFor(model => model.Insc_ApeEst)  </b></th><td>  @Html.DisplayFor(model => model.Insc_ApeEst)  </td></tr>
                <tr><th><b>@Html.DisplayNameFor(model => model.Insc_DocEst)  </b></th><td>  @Html.DisplayFor(model => model.Insc_DocEst)  </td></tr>
                <tr><th><b>@Html.DisplayNameFor(model => model.Insc_FechInsc)</b></th><td>  @Html.DisplayFor(model => model.Insc_FechInsc)</td></tr>
            </table>
        </div>
        <hr />
        <br />
        <div>
                <a href="~/Inscripcion/Index"><input type="button" class="btn btn-warning centrar-contenido" value="Volver" /></a>
                 @*@Html.ActionLink("Edit", "Edit", new { id = Model.Insc_ID }) |
                 @Html.ActionLink("Back to List", "Index")*@
        </div>
    </div>
</div>

