@model IEnumerable<AlianzaPetrolera.Models.Admin.Inscripcion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pers_Doc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Insc_Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pers_Doc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Insc_Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Insc_ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Insc_ID }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Insc_ID })
        </td>
    </tr>
}

</table>
