@model AlianzaPetrolera.Models.Admin.ReciboCaja

@{
    ViewBag.Title = "Recibo";
    Layout = null;
}
@Styles.Render("~/Content/Site.css")
@Styles.Render("~/Content/bootstrap.css")
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Recibo</title>
</head>
<body>

    <style type="text/css">
        input[type=number] {
            border: none;
            border-bottom: 2px solid #808080;
            width: 13em;
        }

        input[type=text] {
            border: none;
            border-bottom: 2px solid #808080;
        }
    </style>

    <div class="container">
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <!--Primer contenedor logo de la escuala y numero del recibo-->
                <div class="row">
                    <div class="col-sm-8">
                        <img src="~/Content/images/logo.png" />
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-sm-4">
                        <p>
                            @Html.LabelFor(model => model.Reci_Num, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Reci_Num, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none", @Value = @Session["maxrecibo"], @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_Num, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <hr />
                <!--Segundo contenedor campos Nombre apellido estudiante y Fecha recibo-->
                <div class="row">
                    <div class="col-sm-8">
                        <h6>Estudiante</h6>
                        <div class="">
                            <!--Almacena Nombre del estudiante-->
                            @Html.EditorFor(model => model.Reci_NomUs, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none; height:20px; text-align:left; left:-35px;", @Value = @Session["MySessionVariable"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_NomUs, "", new { @class = "text-danger" })
                            <!--Almacena Apellido del estudiante-->
                            @Html.EditorFor(model => model.Reci_ApeUs, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none; height:20px; text-align:left; left:-50px;", @Value = @Session["MySessionVariable1"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_ApeUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <h6>Fecha de Pago</h6>
                        <div class="">
                            @Html.EditorFor(model => model.Matr_Fecha, new { htmlAttributes = new { @class = "control-label col-md-12", @Style = "border:none; left:-15px;", @Value = @Session["MySessionVariable2"].ToString(), @ReadOnly = "ReadOnly" } })
                            @Html.ValidationMessageFor(model => model.Matr_Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Tercer contenedor campos Documento y categoria-->
                <div class="row">
                    <div class="form-group col-sm-8">
                        <h6>Documento</h6>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_DocUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none; height:20px; text-align:left; left:-50px;", @Value = @Session["MySessionVariable9"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_DocUs, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-4" style="text-align:left; " >
                        <h6>Categoría</h6>
                        <div class="">
                            @Html.EditorFor(model => model.Reci_CateUs, new { htmlAttributes = new { @class = "control-label col-md-8", @Style = "border:none; height:20px; text-align:left; left:-38px;", @Value = @Session["MySessionVariable3"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_CateUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Cuarto contenedor campos Tipo cuenta y Banco-->
                <div class="row">
                    <div class="col-sm-8">
                        <h6>Modo de Pago</h6>
                        @Html.EnumDropDownListFor(m => m.Reci_Mpago, new { @class = "form-control", @Style="width:40%"})
                    </div>
                    <div class="col-sm-4">
                        <h6>Banco</h6>
                        @Html.DropDownList("Banco_Id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Banco_Id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />
                <br />
                <br />
                <!--Recuadro para discriminar la parte de calculo de los descuentos-->
                <div class="container" style=" border:1px solid;border-color: #A59D9B; padding:10px 10px 10px 10px; align-content:center;">
                    <!--Campos sobre los valores estipulados para los items en el recibo-->
                    <form method="post">

                        <div class="row">
                            <div class="col-sm-3 pago">
                                <h6>Matrícula</h6>
                                <input type="text" name="value1" value="80000" class="text-center" readonly>
                            </div>
                            <div class="col-sm-3 pago">
                                <h6>Póliza de Accidentes</h6>
                                <input type="text" name="value3" value="10000" class="text-center" readonly>
                            </div>
                            <div class="col-sm-3 pago">
                                <h6>Uniforme</h6>
                                <input type="text" name="value5" value="50000" class="text-center" readonly>
                            </div>
                            <div class="col-sm-3 pago">
                                <h6>Mensualidad</h6>
                                <input type="text" name="value7" value="80000" class="text-center" readonly>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3 pago">
                                <select name="value2" style="width:13em;">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value4" style="width:13em;">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value6" style="width:13em;">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value8" style="width:13em;">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable5"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable6"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable7"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable8"] %</label>
                            </div>
                        </div>

                        <div class="row" hidden>
                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Costo_Matri, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Matri, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable11"], @ReadOnly = "ReadOnly" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Matri, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Costo_Poli, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Poli, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable12"], @ReadOnly = "ReadOnly" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Poli, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Costo_Unif, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Unif, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable13"], @ReadOnly = "ReadOnly" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Unif, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Costo_Mensu, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Mensu, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable14"], @ReadOnly = "ReadOnly" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Mensu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--Campos sobre los decuentos estipulados para los items en el recibo-->
                        <div class="row" hidden>
                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Matri, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Matri, new { htmlAttributes = new { @class = "form-control", @Name = "value2", @Value = @Session["MySessionVariable5"] } })
                                    @Html.ValidationMessageFor(model => model.Desc_Matri, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Poli, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Poli, new { htmlAttributes = new { @class = "form-control", @Name = "value4", @Value = @Session["MySessionVariable6"] } })
                                    @Html.ValidationMessageFor(model => model.Desc_Poli, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Unif, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Unif, new { htmlAttributes = new { @class = "form-control", @Name = "value6", @Value = @Session["MySessionVariable7"] } })
                                    @Html.ValidationMessageFor(model => model.Desc_Unif, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Mensu, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Mensu, new { htmlAttributes = new { @class = "form-control", @Name = "value8", @Value = @Session["MySessionVariable8"] } })
                                    @Html.ValidationMessageFor(model => model.Desc_Mensu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <hr />
                        <!--Costo total de la factura-->
                        <div class="form-group col-sm-12 pago">
                            <h5>Total a Pagar</h5>
                            <div class="col-dm-12">
                                @Html.EditorFor(model => model.Matri_CosTota, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable4"] } })
                                @Html.ValidationMessageFor(model => model.Matri_CosTota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <!--Campo de observaciones-->
                        <div class="form">
                            <div class="col-md-10">
                                <h6>Observaciones:</h6>
                                @Html.TextAreaFor(m => m.Reci_Obse, new { @class = "form-control", @style = "margin: 0px -146.75px 0px 0px;height: 100px;width: 120%;" })
                                @Html.ValidationMessageFor(model => model.Reci_Obse, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br />
                    </form>
                </div>
                <br />
                @*Botones de las funciones en el recibo*@
                <div class="row" id="convertThisPageButtonDiv">

                    @*Boton calculo matematico del pago total del recibo*@
                    <div class="col-sm-3" id="convertThisPageButtonDiv">
                        <input type="submit" class=" btn-lg btn-block" name="calc" id="calc" value="Totalizar" /> <br />
                    </div>
                    @*Boton para imprimir pdf del recibo*@
                    <div class="col-sm-3">
                        <form action="~/ReciboCaja/ConvertThisPageToPdf" id="convertThisPageForm" method="post">
                            <div id="convertThisPageButtonDiv">
                                <input type="submit" value="IMPRIMIR RECIBO" class="btn btn-warning" style="width:100%" />
                            </div>
                        </form>
                    </div>
                    @*Boton Guardar datos del recibo*@
                    <div class="form-group col-sm-3" id="convertThisPageButtonDiv">
                        <input type="submit" value="Guardar Datos" class="btn btn-warning" style="width:100%" />
                    </div>
                    @*Boton regresar al index de admin*@
                    <div class="col-sm-3" id="convertThisPageButtonDiv">
                        <a href="~/Admin/AdminIndex"><input type="button" class="pago btn btn-warning" value="REGRESAR" /></a>

                    </div>
                    <br />
                </div>

            </div>
        }
            <form method="post"></form>
        <br />
    </div>


    <br />
    <br />
    @section script {
        <script>
            $("#calc").click(function () {
                $(this).fadeOut(3000);
                $("textarea").fadeIn(2000);
            });

        </script>
    }
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>