@model AlianzaPetrolera.Models.Admin.ReciboCaja

@{
    ViewBag.Title = "Recibo";
    Layout = null;
}
@Styles.Render("~/Content/Site.css")
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" src="~/Scripts/calculo.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Recibo</title>
</head>
<body>

    <style type="text/css">
        input[type=number] {
            border: none;
            border-bottom: 2px solid #808080;
            width: 13em;
        }

        input[type=text] {
            border: none;
            border-bottom: 2px solid #808080;
        }
    </style>

    <div class="container">
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <!--Primer contenedor logo de la escuala y numero del recibo-->
                <div class="row">
                    <div class="col-sm-8">
                        <img src="~/Content/images/logo.png" />
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-sm-4">
                        <p>
                            @Html.LabelFor(model => model.Reci_Num, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.Reci_Num, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none", @Value = @Session["maxrecibo"], @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_Num, "", new { @class = "text-danger" })
                        </p>
                    </div>
                </div>
                <hr />
                <!--Segundo contenedor campos Nombre apellido estudiante y Fecha recibo-->
                <div class="row">
                    <div class="col-sm-8 ">
                        <h6>Estudiante</h6>
                        <div class="">
                            <!--Almacena Nombre del estudiante-->
                            @Html.EditorFor(model => model.Reci_NomUs, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none; height:20px; left:-35px;", @Value = @Session["MySessionVariable"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_NomUs, "", new { @class = "text-danger" })
                            <!--Almacena Apellido del estudiante-->
                            @Html.EditorFor(model => model.Reci_ApeUs, new { htmlAttributes = new { @class = "control-label col-md-3", @Style = "border:none; height:20px; left:-80px;", @Value = @Session["MySessionVariable1"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_ApeUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <h6>Fecha de Pago</h6>
                        <div class="">
                            @Html.EditorFor(model => model.Matr_Fecha, new { htmlAttributes = new { @class = "control-label col-md-12", @Style = "border:none; left:-15px;", @Value = @Session["MySessionVariable2"].ToString(), @ReadOnly = "ReadOnly" } })
                            @Html.ValidationMessageFor(model => model.Matr_Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Tercer contenedor campos Documento y categoria-->
                <div class="row">
                    <div class="form-group col-sm-8">
                        <h6>Documento</h6>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_DocUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none; height:20px; text-align:left; left:-50px;", @Value = @Session["MySessionVariable9"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_DocUs, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-4" style="text-align:left; ">
                        <h6>Categoría</h6>
                        <div class="">
                            @Html.EditorFor(model => model.Reci_CateUs, new { htmlAttributes = new { @class = "control-label col-md-8", @Style = "border:none; height:20px; text-align:left; left:-35px;", @Value = @Session["MySessionVariable3"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_CateUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Campos ocultos para almacenar datos Modo de pago y Banco-->
                <div class="row" hidden>
                    <div class="form-group col-sm-8">
                        @Html.LabelFor(model => model.Reci_Mpago, htmlAttributes: new { @class = "control-label text-center" })
                        <div class="">
                            @Html.EditorFor(model => model.Reci_Mpago, new { htmlAttributes = new { @class = "form-control", @Value = @Session["ModoPago"], @name = "ModoPago" } })
                            @Html.ValidationMessageFor(model => model.Reci_Mpago, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        @Html.LabelFor(model => model.Banco_Id, htmlAttributes: new { @class = "control-label text-center" })
                        <div class="">
                            @Html.EditorFor(model => model.Banco_Id, new { htmlAttributes = new { @class = "form-control", @Value = @Session["Banco"], @name = "Banco" } })
                            @Html.ValidationMessageFor(model => model.Banco_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!--Cuarto contenedor campos Modo de pago y Banco-->
                <div class="row">
                    <div class="col-sm-8">
                        <select name="ModoPago" style="width:15em;" id="ModoPagos" onchange="changesbank();">
                            <option selected value="Modo de Pago"> Modo de Pago </option>
                            <option value="Efectivo">Efectivo</option>
                            <option value="Consignación">Consignación</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select name="Banco" style="width:21em;" id="Bancos" onchange="changesbank();">
                            <option selected value="Banco"> Banco </option>
                            <option value="Ninguno">Ninguno</option>
                            <option value="Bancolombia - Corriente - 456-015655-06">Bancolombia - Corriente - 456-015655-06</option>
                            <option value="Banco de Bogotá - Ahorros - 612-812155-07">Banco de Bogotá - Ahorros - 612-812155-07</option>
                            <option value="Avevillas - Corriente - 786-913352-08">Avevillas - Corriente - 786-913352-08</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <label class="label-banco">@Session["ModoPago"]</label>
                    </div>
                    <div class="col-sm-4">
                        <label class="label-banco">@Session["Banco"]</label>
                    </div>
                </div>
                <hr />
                <br />
                <br />
                <!--Recuadro para discriminar la parte de calculo de los descuentos-->
                <div class="container" style=" border:1px solid;border-color: #A59D9B; padding:10px 10px 10px 10px; align-content:center;">
                    <!--Campos sobre los valores estipulados para los items en el recibo-->
                    <form method="post">
                        <div class="row">
                            <div class="col-sm-3 pago">
                                <h6 style="left:10%; font-weight:bold;">Matrícula</h6>
                                @Html.EditorFor(model => model.Costo_Matri, new { htmlAttributes = new { @class = "control-label", @Value = @Session["matricula"], @Name = "value1", @ReadOnly = "ReadOnly", @Id = "Matricula", @onkeyup = "sumar();", @Style = "text-align: center;" } })
                                @Html.ValidationMessageFor(model => model.Costo_Matri, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-3 pago">
                                <h6>Póliza de Accidentes</h6>
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Poli, new { htmlAttributes = new { @class = "control-label", @Value = @Session["poliza"], @Name = "value3", @ReadOnly = "ReadOnly", @Id = "Poliza", @onkeyup = "sumar();", @Style = "text-align: center;" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Poli, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-3 pago">
                                <h6>Uniforme</h6>
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Unif, new { htmlAttributes = new { @class = "control-label", @Value = @Session["uniforme"], @Name = "value5", @ReadOnly = "ReadOnly", @Id = "Uniforme", @onkeyup = "sumar();", @Style = "text-align: center;" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Unif, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-sm-3 pago">
                                <h6>Mensualidad</h6>
                                <div class="">
                                    @Html.EditorFor(model => model.Costo_Mensu, new { htmlAttributes = new { @class = "control-label", @Value = @Session["mensualidad"], @Name = "value7", @ReadOnly = "ReadOnly", @Id = "Mensualidad", @onkeyup = "sumar();", @Style = "text-align: center;" } })
                                    @Html.ValidationMessageFor(model => model.Costo_Mensu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--Campos sobre los decuentos estipulados para los items en el recibo-->
                        <br />
                        <div class="row">
                            <div class="col-sm-3 pago">
                                <select name="value2" style="width:13em;" id="DescMatri" onchange="sumar();">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value4" style="width:13em;" id="DescPoli" onchange="sumar();">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value6" style="width:13em;" id="DescUnif" onchange="sumar();">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                            <div class="col-sm-3 pago">
                                <select name="value8" style="width:13em;" id="DescMensu" onchange="sumar();">
                                    <option selected value="0"> Descuento </option>
                                    <option value="0">0%</option>
                                    <option value="5">5%</option>
                                    <option value="10">10%</option>
                                    <option value="15">15%</option>
                                    <option value="20">20%</option>
                                    <option value="100">100%</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable5"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable6"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable7"] %</label>
                            </div>
                            <div class="col-sm-3 pago">
                                <label> @Session["MySessionVariable8"] %</label>
                            </div>
                        </div>
                        <!--Campos ocultos para almacenar los valores a pagar de los descuentos-->
                        <div class="row" hidden>
                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Matri, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Matri, new { htmlAttributes = new { @class = "form-control", @Value = @Session["CosMatri"], @Id = "CosMatri" } })
                                    @Html.ValidationMessageFor(model => model.Desc_Matri, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Poli, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Poli, new { htmlAttributes = new { @class = "form-control", @Value = @Session["CosPoli"], @Id = "CosPoli" } })
                                    @Html.ValidationMessageFor(model => model.Desc_Poli, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Unif, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Unif, new { htmlAttributes = new { @class = "form-control", @Value = @Session["CosUnif"], @Id = "CosUnif" } })
                                    @Html.ValidationMessageFor(model => model.Desc_Unif, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                @Html.LabelFor(model => model.Desc_Mensu, htmlAttributes: new { @class = "control-label text-center" })
                                <div class="">
                                    @Html.EditorFor(model => model.Desc_Mensu, new { htmlAttributes = new { @class = "form-control", @Value = @Session["CosMensu"], @Id = "CosMensu" } })
                                    @Html.ValidationMessageFor(model => model.Desc_Mensu, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!--Costo total de la factura-->
                        <div class="form-group col-sm-12 pago">
                            <h5>Total a Pagar</h5>
                            <div class="col-dm-12">
                                @Html.EditorFor(model => model.Matri_CosTota, new { htmlAttributes = new { @class = "control-label", @Value = @Session["MySessionVariable4"], @Id = "Total", @ReadOnly = "ReadOnly" } })
                                @Html.ValidationMessageFor(model => model.Matri_CosTota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <!--Campo de observaciones-->
                        <div class="form">
                            <div class="col-md-10">
                                <h6>Observaciones:</h6>
                                @Html.TextAreaFor(m => m.Reci_Obse, new { @class = "form-control", @style = "margin: 0px -146.75px 0px 0px;height: 100px;width: 120%;", @Value = @Session["observacion"], @name = "observacion", @Id= "Text1", @onkeyup = "Agregar();" })
                                @Html.ValidationMessageFor(model => model.Reci_Obse, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </form>
                </div>

                <br />
                <br />
                @*<div id="convertThisPageButtonDiv">
                    <input type="submit" class="btn btn-warning text-white btn-lg btn-block" name="calc" id="calc" value="factura" /> <br />
                        </div>*@
                <div class="row" style="align-content:center" id="convertThisPageButtonDiv">
                    <div class="form-group col-sm-6" id="convertThisPageButtonDiv">
                        <div class="col-md-offset-2">
                            <input type="submit" value="Guardar Datos" class="btn btn-warning text-white" onclick="capturar()" style="margin: 5px 20px 4px 200px;"/>
                        </div>
                    </div>
                    @*<br />*@
                    @using (Html.BeginForm("ConvertThisPageToPdf", "GeneracionRecibo", FormMethod.Post, new { id = "convertForm" }))
                    {
                        <div id="convertThisPageButtonDiv">
                            @*<input type="submit" value="Convert This Page To PDF" />*@
                        </div>
                    }
                    @*<br />*@
                    @*@using (Html.BeginForm("ConvertAboutPageToPdf", "GeneracionRecibo", FormMethod.Post, new { id = "convertForm" }))
                        {
                            <div id="convertAboutPageButtonDiv">
                                <input type="submit" value="Convert
                            About Page To PDF" />
                            </div>
                        }*@

                    @*ESTE ES EL METODO O BOTON QUE IMPRIME EL HTML EN PDF CON LA LIBRERIA HiQPDF2*@

                    @*<form action="~/ReciboCaja/ConvertThisPageToPdf" id="convertThisPageForm" method="post">
                        <div class="col-sm-4">
                            <div id="convertThisPageButtonDiv">
                                <input type="submit" value="Recibo Alianza PDF" class="btn btn-warning text-white" />
                            </div>
                        </div>
                    </form>*@
                    <br />
                    @*<form action="~/GeneracionRecibo/ConvertAboutPageToPdf" id="convertAboutPageForm" method="post">
                          <div id="convertAboutPageButtonDiv">
                          <input type="submit" value="Convert About Page To PDF" />
                          </div>
                        </form>*@
                    <form method="post">
                        <div class="col-sm-8" style="align-content:center" id="convertThisPageButtonDiv">
                            <a href="~/Matricula/Index"><input type="button" class="btn btn-warning text-white" value="Volver" style="margin: 5px 20px 4px 200px;" /></a>
                        </div>
                    </form>
                    <br />
                </div>

            </div>
        }
    </div>


    <br />
    <br />
    @section script {
        <script>
            $("#calc").click(function () {
                $(this).fadeOut(3000);
                $("textarea").fadeIn(2000);
            });

        </script>
    }
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script language="javascript">

    </script>

</body>
</html>