@model AlianzaPetrolera.Models.Admin.ReciboCaja

@{
    ViewBag.Title = "Recibo";
    Layout = null;
}

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Recibo</title>
</head>
<body>

    <style type="text/css">
        input[type=number] {
            border: none;
            border-bottom: 2px solid #808080;
            width: 13em;
        }

        input[type=text] {
            border: none;
            border-bottom: 2px solid #808080;
        }
    </style>

    <div class="container">
        <br />
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                <!--Primer contenedor logo de la escuala y numero del recibo-->
                <div class="row">
                    <div class="col-sm-8">
                        <img src="~/Content/images/logo.png" />
                    </div>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Reci_Num, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_Num, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none", @Value =@Session["maxrecibo"], @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_Num, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Segundo contenedor campos Nombre apellido estudiante y Fecha recibo-->
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Reci_NomUs, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_NomUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none", @Value = @Session["MySessionVariable"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_NomUs, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Reci_ApeUs, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_ApeUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none", @Value = @Session["MySessionVariable1"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_ApeUs, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Matr_Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Matr_Fecha, new { htmlAttributes = new { @class = "control-label col-md-12", @Style = "border:none", @Value = @Session["MySessionVariable2"].ToString(), @ReadOnly = "ReadOnly" } })
                            @Html.ValidationMessageFor(model => model.Matr_Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Tercer contenedor campos Documento y categoria-->
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Reci_DocUs, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_DocUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none", @Value = @Session["MySessionVariable9"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_DocUs, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Reci_CateUs, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reci_CateUs, new { htmlAttributes = new { @class = "control-label col-md-6", @Style = "border:none", @Value = @Session["MySessionVariable3"].ToString(), @ReadOnly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Reci_CateUs, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <hr />
                <!--Cuarto contenedor campos Tipo cuenta y Banco-->
                <div class="row">
                    <div class="col-sm-8">
                        <h6><b>Tipo Cuenta:</b>  Ahorros</h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>Bancolombia</h6>
                    </div>
                    <div class="col-sm-12">
                        <h6>#1215684-154541-12152</h6>
                    </div>
                </div>
                <hr />
                <br />
                <br />
                <!--Recuadro para discriminar la parte de calculo de los descuentos-->
                <div class="container" style=" border:1px solid;border-color: #A59D9B; padding:10px 10px 10px 10px;">
                    <!--Campos sobre los valores estipulados para los items en el recibo-->
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Costo_Matri, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Costo_Matri, new { htmlAttributes = new { @class = "form-control", @Value = 80000, @Name = "value1" } })
                                @Html.ValidationMessageFor(model => model.Costo_Matri, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Costo_Poli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Costo_Poli, new { htmlAttributes = new { @class = "form-control", @Value = 10000, @Name = "value3" } })
                                @Html.ValidationMessageFor(model => model.Costo_Poli, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Costo_Unif, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Costo_Unif, new { htmlAttributes = new { @class = "form-control", @Value = 50000, @Name = "value5" } })
                                @Html.ValidationMessageFor(model => model.Costo_Unif, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Costo_Mensu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Costo_Mensu, new { htmlAttributes = new { @class = "form-control", @Value = 80000, @Name = "value7" } })
                                @Html.ValidationMessageFor(model => model.Costo_Mensu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!--Campos sobre los decuentos estipulados para los items en el recibo-->
                    <div class="row">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Desc_Matri, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desc_Matri, new { htmlAttributes = new { @class = "form-control", @Name = "value2" } })
                                @Html.ValidationMessageFor(model => model.Desc_Matri, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desc_Poli, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desc_Poli, new { htmlAttributes = new { @class = "form-control", @Name = "value4" } })
                                @Html.ValidationMessageFor(model => model.Desc_Poli, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desc_Unif, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desc_Unif, new { htmlAttributes = new { @class = "form-control", @Name = "value6" } })
                                @Html.ValidationMessageFor(model => model.Desc_Unif, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Desc_Mensu, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Desc_Mensu, new { htmlAttributes = new { @class = "form-control", @Name = "value8" } })
                                @Html.ValidationMessageFor(model => model.Desc_Mensu, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <!--Costo total de la n-->
                    <div class="form-group">
                        @Html.LabelFor(model => model.Matri_CosTota, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Matri_CosTota, new { htmlAttributes = new { @class = "form-control", @Value = @Session["MySessionVariable4"] } })
                            @Html.ValidationMessageFor(model => model.Matri_CosTota, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div id="convertThisPageButtonDiv">
                        <input type="submit" class="btn btn-warning text-white btn-lg btn-block" name="calc" id="calc" value="factura" /> <br />
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    </div>

    <br />
    <br />
    @section script {
        <script>
            $("#calc").click(function () {
                $(this).fadeOut(3000);
                $("textarea").fadeIn(2000);
            });

        </script>
    }
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>