@model IEnumerable<AlianzaPetrolera.Models.Admin.ReciboCaja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Costo_Matri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_Poli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_Unif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo_Mensu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matr_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matri_Esta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matri_CosTota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Matri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Poli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Unif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Mensu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matr_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matri_Esta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matri_CosTota)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Reci_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Reci_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Reci_Id })
        </td>
    </tr>
}

</table>
