@model IPagedList<AlianzaPetrolera.Models.Admin.ReciboCaja>

@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Lista Recibo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondo-tabla texto-contenido">
    <br />
    <div class="row">
        <div class="titulo-index col-sm-6 ">
            <h1 class="col-sm-6">Recibos Generados</h1>
        </div>
        <div class="col-sm-2" style="height:50px; left:18%">
            <a href="~/Report/ReporteReciboCaja"><input type="button" class="btn btn-warning" value="Reporte Recibos" /></a>
        </div>
    </div>
    <hr />
    @using (Html.BeginForm("Index", "ReciboCaja", FormMethod.Post))
    {
        <div class="container">

            <input type="text" name="search" placeholder="Nombre del estudiante" style="width:75%" />


            <input type="submit" name="submit" value="Buscar" />

        </div>
    }
    <div class="container texto-contenido">
        <table class="tabla-index table-hover table-dark" style="box-shadow: 0 10px 30px 0 #585856; border-radius: 5px 5px 5px 5px;">
            <tr class="bg-warning text-white text-center" style="font-size:8px">
                <th>
                    Recibo
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Documento
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Fecha Generación
                </th>
                <th>
                    Costo Matricula
                </th>
                <th>
                    Costo Póliza
                </th>
                <th>
                    Costo Uniforme
                </th>
                <th>
                    Costo Mensualidad
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.Desc_Matri)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desc_Poli)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desc_Unif)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Desc_Mensu)
                    </th>*@
                <th>
                    Costo Total
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Reci_Num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reci_NomUs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reci_ApeUs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reci_DocUs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reci_CateUs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matr_Fecha)
                    </td>
                    @*<td>
                            $@Html.DisplayFor(modelItem => item.Costo_Matri)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Costo_Poli)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Costo_Unif)
                        </td>
                        <td>
                            $@Html.DisplayFor(modelItem => item.Costo_Mensu)
                        </td>*@
                    <td>
                        $@Html.DisplayFor(modelItem => item.Desc_Matri)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Desc_Poli)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Desc_Unif)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Desc_Mensu)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Matri_CosTota)
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning text-white"> @Html.ActionLink("Detalles", "Details", "ReciboCaja", new { id = item.Reci_Id }, htmlAttributes: new { @style = "" }) </button>
                    </td>
                </tr>
            }

        </table>
        <br />
        <div class="row">
            <div class="col-md-6">
                @Html.PagedListPager(Model, i => Url.Action("Index", "ReciboCaja", new { i, search = Request.QueryString["search"] }))
            </div>
            <div class="col-md-6">
                <a href="~/Admin/AdminIndex"><input type="button" class="btn btn-warning centrar-contenido" value="Volver" /></a>
            </div>
        </div>
        <br />
        
    </div>
</body>