@model IEnumerable<AlianzaPetrolera.Models.Admin.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestión Matricula/Categoria</h2>
@ViewBag.Message
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cate_Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cate_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Cate_Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Cate_Id }) |
                @*@Html.ActionLink("Generar Recibo", "index", "ReciboCaja", new { id = item.Cate_Id })*@
                <button type="button" class="btn btn-warning text-white"> @Html.ActionLink("Recibo", "Create", "ReciboCaja", new { nombrecate = item.Cate_Name, nombreestu = ViewBag.Message}, htmlAttributes: new { @style = "color:#fff; " })      </button>
            </td>
        </tr>
    }

</table>
