@model IEnumerable<AlianzaPetrolera.Models.AlianzaBD.Persona>

@{
    ViewBag.Title = "Hijos -";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondo-tabla texto-contenido">
     
            <br />
            <div class="row" >
                <div class="titulo-index col-sm-6 " >
                    <h1 class="col-sm-6">Mis Hijos</h1>
                </div>
                <div class="col-sm-2" style="height:50px; left:18%">
                    <a href="~/RegistroPersona/Create"><input type="button" class="btn btn-warning" value="Agregar Hijo" /></a>
                </div>
            </div>
            <hr />
            <div class="container texto-contenido">
                <table class="tabla-index table-hover table-dark" style="box-shadow: 0 10px 30px 0 #585856; border-radius: 5px 5px 5px 5px;">
                    <tr class="bg-warning text-white text-center">
                        <th style="border: none;">
                            <b>@Html.DisplayNameFor(model => model.Pers_Nom)</b>
                        </th>
                        <th style="border: none;">
                            <b>Apellido</b>
                        </th>
                        <th style="border: none;">
                            @Html.DisplayNameFor(model => model.Pers_TypeDoc)
                        </th>
                        <th style="border: none;">
                            <b>Documento</b>
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Pers_Birth)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.Pers_Dir)
                        </th>*@
                        <th style="border: none;">
                            @Html.DisplayNameFor(model => model.Pers_Tel1)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Pers_Tel2)
                        </th>*@
                        @*<th>
                            @Html.DisplayNameFor(model => model.Pers_Mail1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Pers_Mail2)
                        </th>*@
                        <th style="border: none;">
                            <b>Ingreso</b>
                        </th>
                        <th style="border: none;">
                            <b>Puntos</b>
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Ubic_Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rolp_Id)
                        </th>*@
                        <th style="border: none;"></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_NickNom)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_Pwd)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Nom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Apel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_TypeDoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Doc)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_Birth)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_Dir)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Tel1)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_Tel2)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Pers_Mail1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Mail2)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_Ingreso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pers_TotalPoints)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Ubic_Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rolp_Id)
                            </td>*@
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">


                                    <button type="button" class="btn btn-warning text-white"> @Html.ActionLink("Editar", "Edit", new { id = item.Pers_Id }, htmlAttributes: new { @style = "" }) </button>
                                    <button type="button" class="btn btn-warning text-white"> @Html.ActionLink("Detalles", "Details", new { id = item.Pers_Id }, htmlAttributes: new { @style = "" }) </button>
                                    <button type="button" class="btn btn-warning text-white"> @Html.ActionLink("Notas", "PaginaConstruccionPadre", "Admin", new { id = item.Pers_Id }, htmlAttributes: new { @style = "" }) </button>


                                </div>
                            </td>
                        </tr>
                    }

                </table>
                <br />
                <div>
                    <a href="~/RegistroPersona/PadreIndex"><input type="button" class="btn btn-warning centrar-contenido" value="Volver"/></a>
                </div>
                <br />
            </div>
        
        
    
</body>