@model AlianzaPetrolera.Models.Admin.Matricula

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Insc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_IdEst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_IdEst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Apel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Apel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mat_Doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mat_Doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peri_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peri_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cate_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cate_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matr_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matr_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matri_Esta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matri_Esta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
