@model AlianzaPetrolera.Models.Admin.Matricula

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Insc_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insc_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peri_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peri_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cate_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cate_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matr_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matr_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matri_Esta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matri_Esta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Matri_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
