@model IPagedList<AlianzaPetrolera.Models.Admin.Matricula>

@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="fondo-tabla">
    <br />
    <div class="row">
        <div class="titulo-index col-sm-5 ">
            <h1 class="col-sm-6">Pagos</h1>
        </div>
        <div class="col-sm-7" style="height:50px;">
            @using (Html.BeginForm("Index", "Matricula", FormMethod.Post))
            {
                <div class="container">

                    <input type="text" name="search" placeholder="Nombre del estudiante" style="width:55%" />


                    <input type="submit" name="submit" value="Buscar" />

                </div>
            }
        </div>
    </div>
    <hr />
    
    <div class="container">
        <table class="tabla-index table-hover table-dark">
            <tr class="bg-warning text-white text-center">
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Insc_Id)
                </th>
                <th style="border: none;" hidden>
                    @Html.DisplayNameFor(model => model.First().Mat_IdEst)
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Mat_Nom)
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Mat_Apel)
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Mat_Doc)
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Peri_Id)
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Cate_Id)
                </th>
                <th style="border: none;">
                    <h7>Fecha Pago</h7>
                </th>
                <th style="border: none;">
                    @Html.DisplayNameFor(model => model.First().Matri_Esta)
                </th>
                <th style="border: none;"></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="text-center">
                    <td>
                        @Html.DisplayFor(modelItem => item.Insc_Id)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Mat_IdEst)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mat_Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mat_Apel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mat_Doc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peri_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cate_Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matr_Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matri_Esta)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-warning">
                                @Html.ActionLink("Activar", "Edit", new { id = item.Matri_Id }, htmlAttributes: new { @style = "" })
                            </button>
                            <button type="button" class="btn btn-warning text-white">
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Matri_Id }, htmlAttributes: new { @style = "" })
                            </button>
                            <button type="button" class="btn btn-warning text-white">
                                @Html.ActionLink("Recibo", "Create", "ReciboCaja", new { id = item.Matri_Id, nombrecate = item.Cate_Id, nombreestu = item.Mat_Nom, idcod = item.Mat_IdEst, documentoestud = item.Mat_Doc, apellidoes = item.Mat_Apel }, htmlAttributes: new { @style = "" })
                            </button>
                        </div>
                    </td>
                </tr>
             }
        </table>
        @Html.PagedListPager(Model, i => Url.Action("Index", "Matricula", new { i, search = Request.QueryString["search"] }))
        <br />
        <div>
            <a href="~/Admin/AdminIndex"><input type="button" class="btn btn-warning centrar-contenido" value="Volver" /></a>
        </div>
        <br />
    </div>
</body>