@model IEnumerable<AlianzaPetrolera.Models.Admin.Matricula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Insc_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peri_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cate_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matr_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matri_Esta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Insc_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peri_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cate_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matr_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matri_Esta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Matri_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Matri_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Matri_Id })
        </td>
    </tr>
}

</table>
