@model IEnumerable<AlianzaPetrolera.Models.Admin.Matricula>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matriculas</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-hover table-dark">
    <tr class="bg-warning text-white text-center">
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Insc_Id)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Mat_IdEst)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Mat_Nom)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Mat_Apel)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Mat_Doc)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Peri_Id)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Cate_Id)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Matr_Fecha)
        </th>
        <th style="border: none;">
            @Html.DisplayNameFor(model => model.Matri_Esta)
        </th>
        <th style="border: none;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Insc_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mat_IdEst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mat_Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mat_Apel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mat_Doc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peri_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cate_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matr_Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matri_Esta)
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning text-white">
                        @Html.ActionLink("Activar", "Edit", new { id = item.Matri_Id })
                    </button>
                    <button type="button" class="btn btn-warning text-white">
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Matri_Id })
                    </button>
                    <button type="button" class="btn btn-warning text-white">
                        @Html.ActionLink("Recibo", "Create", "ReciboCaja", new { id = item.Matri_Id, nombrecate = item.Cate_Id, nombreestu = item.Mat_Nom }, htmlAttributes: new { @style = "color:#fff; " })
                    </button>
                </div>
            </td>
        </tr>
    }

</table>