
@{
    ViewBag.Title = "Adminastrador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Vista Admin</title>
</head>
<body class="fondoadmin">
    <br>
    <style type="text/css">


        body {
            background: #f2f2f2;
            font-family: 'Comic Sans MS', arial;
        }

        h3 {
            font-family: 'Comic Sans MS', arial;
        }

        .box {
            padding: 60px 0px;
        }

        .box-part {
            background: #FFF;
            border-radius: 10px;
            padding: 60px 10px;
            margin: 30px 0px;
        }

            .box-part:hover {
                background: #000;
            }

        .tittle {
            margin-top: -4em;
        }

        .box-part:hover .fas,
        .box-part:hover .title,
        .box-part:hover .text,
        .box-part:hover a {
            color: #FFF;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            transition: all 1s ease-out;
        }

        .text {
            margin: 20px 0px;
        }

        .fas {
            color: #FDEF02;
        }
    </style>
    <div class="titulo-index">
        <h1 class="col-sm-6">Administrador</h1>
    </div>
    <div class="box">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">
                        <i class="fas fa-user-plus fa-5x"></i>

                        <br>
                        <div class="title">
                            <h3>Estudiantes Inscritos.</h3>
                        </div>

                        <div class="text">
                            <span>Visualiza los niños que fueron registrados por sus padres en nuestra plataforma.</span>
                        </div>

                        @Html.ActionLink("Ver Inscritos", "Index", "Inscripcion")

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fas fa-clipboard-list fa-5x"></i>

                        <div class="title">
                            <h3>Matrículas</h3>
                        </div>

                        <div class="text">
                            <span>Visualiza las matrículas que tienen pendiente la generación del recibo de pago.</span>
                        </div>

                        @Html.ActionLink("Ver Matrículas", "Index", "Matricula")

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">
                        <i class="fas fa-file-invoice-dollar fa-5x"></i>

                        <br>
                        <div class="title">
                            <h3>Recibos Generados</h3>
                        </div>

                        <div class="text">
                            <span>Visualiza los registros de los recibos generados en nuestra plataforma.</span>
                        </div>

                        @Html.ActionLink("Ver Recibos", "Index", "ReciboCaja")

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <center><i class="fas fa-chalkboard-teacher fa-5x"></i></center>
                        <div class="title">
                            <h3>Entrenadores</h3>
                        </div>

                        <div class="text">
                            <span>Visualiza los entrenadores de Alianza Petrolera.</span>
                        </div>

                        @Html.ActionLink("Ver Entrenadores", "PaginaConstruccion", "Admin")

                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <i class="fas fa-city fa-5x"></i>

                        <div class="title">
                            <h3>Ciudades</h3>
                        </div>

                        <div class="text">
                            <span>Visualiza las ciudades ingresadas en nuestra plataforma.</span>
                        </div>

                        @Html.ActionLink("Ver Ciudades", "PaginaConstruccion", "Admin")

                    </div>
                </div>
                <!--Se comenta para mas adelante, pestaña de categorias -->
                @*<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <center><i class="fas fa-edit fa-5x"></i></center>
                        <div class="title">
                            <h3>Categorías</h3>
                        </div>

                        <div class="text">
                            <span>Agrega una nueva categoría de niños para nuestra escuela.</span>
                        </div>

                        <a href="#">@Html.ActionLink("Agregar Categoría", "PaginaConstruccion", "Admin")</a>

                    </div>
                </div>*@

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">

                    <div class="box-part text-center">

                        <center><i class="fas fa-university fa-5x"></i></center>
                        <div class="title">
                            <h3>Bancos</h3>
                        </div>

                        <div class="text">
                            <span>Agrega una nueva cuenta bancaria para el pago de los recibos.</span>
                        </div>

                        <a href="#">@Html.ActionLink("Agregar Cuenta Bancaria", "Index", "Banco")</a>

                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

